<div class="social-icons-row">
  <a href="https://github.com/LazyDom" target="_blank" rel="noopener" title="GitHub" class="social-icon-link">
    <img src="{{ '/assets/images/github-mark.svg' | relative_url }}" alt="GitHub" />
  </a>
  <a href="https://medium.com/@LazyDom" target="_blank" rel="noopener" title="Medium" class="social-icon-link">
    <img src="{{ '/assets/images/medium-button.svg' | relative_url }}" alt="Medium" />
  </a>
  <a href="https://x.com/lazyd0m" target="_blank" rel="noopener" title="X (formerly Twitter)" class="social-icon-link">
    <img src="{{ '/assets/images/x-button.svg' | relative_url }}" alt="X (formerly Twitter)" />
  </a>
</div>
